.header {
    padding: 1rem 0;
    font-size: 1.25rem;
    background-color: #ccc;
    
    
  
    &__title {
      font-weight: bold;
    }
  
    &__link {
      color: #fff;
      transition: all 0.25s ease-in-out 0s;
      text-decoration: none;
      margin-left: 2rem;
  
      &--active,
      &:hover {
        color: powderblue;
      }
    }
  }